
<!DOCTYPE html>

<html style="margin: 0;padding: 0;" xmlns="http://www.w3.org/1999/xhtml">

<body>
    <p>Dear manager,</p>
    <br />
    <p>You have received a new Contact Us email:</p>
    <br />
    <p style="margin-left:10px">- <strong>Name:</strong> {{ name }} </p>
    <p style="margin-left:10px">- <strong>Email:</strong> {{ email }}</p>
    <p style="margin-left:10px">- <strong>Phone:</strong> {{ phone }}</p>
    <p style="margin-left:10px">- <strong>Message:</strong> {{ message }}</p>
    <br />
    <p>Best Regards.</p>
</body>

</html>
